<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>domain</key>
	<string>0.0.0.0</string>
	<key>context</key>
	<string>live</string>
	<key>port</key>
	<integer>8554</integer>
	<key>subscribe_name</key>
	<string>subscriber</string>
	<key>publish_name</key>
	<string>publisher</string>
</dict>
</plist>
