<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GlobalProperties</key>
	<dict>
		<key>license_key</key>
		<string></string>
		<key>server_port</key>
		<string>443</string>
		<key>bitrate</key>
		<integer>750</integer>
		<key>host</key>
		<string>0.0.0.0</string>
		<key>buffer_time</key>
		<real>0.5</real>
		<key>port</key>
		<integer>8554</integer>
		<key>stream1</key>
		<string>stream1</string>
		<key>stream2</key>
		<string>stream2</string>
		<key>context</key>
		<string>live</string>
		<key>camera_width</key>
		<integer>640</integer>
		<key>camera_height</key>
		<integer>360</integer>
		<key>debug_view</key>
		<true/>
		<key>video_on</key>
		<true/>
		<key>audio_on</key>
		<true/>
		<key>hwaccel_on</key>
		<true/>
		<key>record_on</key>
		<false/>
		<key>append_on</key>
		<false/>
		<key>fps</key>
		<integer>15</integer>
		<key>sm_version</key>
		<string>4.0</string>
		<key>sm_access_token</key>
		<string>xyz123</string>
		<key>cluster_password</key>
		<string>changeme</string>
		<key>push_target</key>
		<string>rtmp://localhost/live/stream2</string>
	</dict>
	<key>Tests</key>
	<dict>
		<key>home</key>
		<dict>
			<key>name</key>
			<string>Home</string>
			<key>class</key>
			<string>Home</string>
		</dict>
		<key>publish</key>
		<dict>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish</string>
			<key>class</key>
			<string>PublishTest</string>
		</dict>
		<key>publish - 1080p</key>
		<dict>
			<key>description</key>
			<string>A high quality publisher</string>
			<key>LocalProperties</key>
			<dict>
				<key>camera_width</key>
				<integer>1920</integer>
				<key>camera_height</key>
				<integer>1080</integer>
				<key>bitrate</key>
				<integer>4500</integer>
			</dict>
			<key>name</key>
			<string>Publish - 1080p</string>
			<key>class</key>
			<string>PublishTest</string>
		</dict>
		<key>publish - ABR</key>
		<dict>
			<key>description</key>
			<string>A high quality publisher with AdaptiveBitrateController</string>
			<key>LocalProperties</key>
			<dict>
				<key>camera_width</key>
				<integer>640</integer>
				<key>camera_height</key>
				<integer>360</integer>
				<key>bitrate</key>
				<integer>1000</integer>
				<key>fps</key>
				<integer>15</integer>
			</dict>
			<key>name</key>
			<string>Publish - ABR</string>
			<key>class</key>
			<string>AdaptiveBitrateControllerTest</string>
		</dict>
		<key>publish - Aspect Ratio</key>
		<dict>
			<key>description</key>
			<string>A publish example that modifies the scale mode of its preview display</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Aspect Ratio</string>
			<key>class</key>
			<string>PublishAspectTest</string>
		</dict>
		<key>publish - Auth</key>
		<dict>
			<key>description</key>
			<string>An authenticated publish example.</string>
			<key>LocalProperties</key>
			<dict>
				<key>username</key>
				<string>testuser</string>
				<key>password</key>
				<string>testpass</string>
			</dict>
			<key>name</key>
			<string>Publish - Authentication</string>
			<key>class</key>
			<string>PublishAuthTest</string>
		</dict>
		<key>publish - AVCategory</key>
		<dict>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - AV Category</string>
			<key>class</key>
			<string>PublishAVCategoryTest</string>
			<key>description</key>
			<string>An example of overriding default AVCategory settings.</string>
		</dict>
		<key>publish - Background</key>
		<dict>
			<key>description</key>
			<string>An example of publishing that continues to serve audio when the app is in the background</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Background</string>
			<key>class</key>
			<string>PublishBackgroundTest</string>
		</dict>
		<key>publish - Camera Swap</key>
		<dict>
			<key>description</key>
			<string>Touch the screen to swap which camera is being used! Verify using flash that camera is swapping properly and no rendering problems occur.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Camera Swap</string>
			<key>class</key>
			<string>CameraSwapTest</string>
		</dict>
		<key>publish - Custom Video Source</key>
		<dict>
			<key>description</key>
			<string>Touch the screen to swap which camera is being used! Verify using flash that camera is swapping properly and no rendering problems occur.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Custom Video Source</string>
			<key>class</key>
			<string>PublishCustomSourceTest</string>
		</dict>
		<key>publish - Device Orientation</key>
		<dict>
			<key>description</key>
			<string>Orientation based on device</string>
			<key>Local Properties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Device Orientation</string>
			<key>class</key>
			<string>PublishDeviceOrientationTest</string>
		</dict>
		<key>publish - Camera Swap &amp; Orientation</key>
		<dict>
			<key>description</key>
			<string>Orientation with Camera Swap support</string>
			<key>Local Properties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Camera + Device Orientation</string>
			<key>class</key>
			<string>PublishCameraDeviceOrientationTest</string>
		</dict>
		<key>publish - Encrypted</key>
		<dict>
			<key>description</key>
			<string>An example that encrypts all traffic between the device and server.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Encrypted</string>
			<key>class</key>
			<string>PublishEncryptedTest</string>
		</dict>
		<key>publish - HQ Audio</key>
		<dict>
			<key>description</key>
			<string>A publish example with high quality audio</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - HQ Audio</string>
			<key>class</key>
			<string>PublishHQAudioTest</string>
		</dict>
		<key>publish - Image Capture</key>
		<dict>
			<key>description</key>
			<string>Touch the publish stream to take a screen shot that is displayed!</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - ImageCapture</string>
			<key>class</key>
			<string>PublishStreamImageTest</string>
		</dict>
		<key>publish - Local Recording</key>
		<dict>
			<key>description</key>
			<string>Run this example to record a copy of the stream to your device&apos;s camera roll</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Local Recording</string>
			<key>class</key>
			<string>PublishLocalRecordTest</string>
		</dict>
		<key>publish - Pause</key>
		<dict>
			<key>description</key>
			<string>Touch the publish stream to pause audio and video</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Pause</string>
			<key>class</key>
			<string>PublishPauseTest</string>
		</dict>
		<key>publish - Record</key>
		<dict>
			<key>description</key>
			<string>A publish example that records stream data on the server.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Record</string>
			<key>class</key>
			<string>RecordedTest</string>
		</dict>
		<key>publish - Remote Call</key>
		<dict>
			<key>description</key>
			<string>The publish portion of the remote call example - sends the remote call</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Remote Call</string>
			<key>class</key>
			<string>PublishRemoteCallTest</string>
		</dict>
		<key>publish - Social Pusher</key>
		<dict>
			<key>description</key>
			<string>call for the server to rebrodcast to another service</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Social Pusher</string>
			<key>class</key>
			<string>PublishSocialPushTest</string>
		</dict>
		<key>publish - Stream Manager</key>
		<dict>
			<key>description</key>
			<string>A publish example that connects to a cluster server with the Stream Manager.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Stream Manager</string>
			<key>class</key>
			<string>PublishStreamManagerTest</string>
		</dict>
		<key>publish - Stream Manager Encrypted</key>
		<dict>
			<key>description</key>
			<string>A publish example that connects to a cluster server with the Stream Manager - using SRTP Encryption.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Stream Manager Encrypted</string>
			<key>class</key>
			<string>PublishSMEncryptedTest</string>
		</dict>
		<key>publish - Stream Manager Social Pusher</key>
		<dict>
			<key>description</key>
			<string>call for the stream manager to rebrodcast to another service</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Stream Manager Social Pusher</string>
			<key>class</key>
			<string>PublishStreamManagerSocialPushTest</string>
		</dict>
		<key>publish - Stream Manager Transcoder</key>
		<dict>
			<key>description</key>
			<string>A publish example that uses transcoding broadcast over Stream Manager</string>
			<key>LocalProperties</key>
			<dict>
				<key>high_bitrate</key>
				<real>1500000</real>
				<key>high_width</key>
				<integer>1280</integer>
				<key>high_height</key>
				<integer>720</integer>
				<key>med_bitrate</key>
				<real>600000</real>
				<key>med_width</key>
				<integer>640</integer>
				<key>med_height</key>
				<integer>360</integer>
				<key>low_bitrate</key>
				<real>400000</real>
				<key>low_width</key>
				<integer>480</integer>
				<key>low_height</key>
				<integer>270</integer>
				<key>fps</key>
				<array>
					<integer>15</integer>
					<integer>15</integer>
					<integer>15</integer>
				</array>
			</dict>
			<key>name</key>
			<string>Publish - Stream Manager Transcoder</string>
			<key>class</key>
			<string>PublishStreamManagerTranscodeTest</string>
		</dict>
		<key>publish - Telephony Interrupt</key>
		<dict>
			<key>description</key>
			<string>An example of publishing that responds to telephony-based interrupts.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Telephony Interrupt</string>
			<key>class</key>
			<string>PublishTelephonyInterruptTest</string>
		</dict>
		<key>publish - Zoomable</key>
		<dict>
			<key>description</key>
			<string>A publish example that allows live zoom</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Zoom</string>
			<key>class</key>
			<string>PublishZoomableTest</string>
		</dict>
		<key>Shared Object</key>
		<dict>
			<key>description</key>
			<string>An example of communicating information through shared objects</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>SharedObject</string>
			<key>class</key>
			<string>SharedObjectTest</string>
		</dict>
		<key>Shared Object - Streamless</key>
		<dict>
			<key>description</key>
			<string>An example of using Shared Objects without a media stream</string>
			<key>Local Properties</key>
			<dict/>
			<key>name</key>
			<string>Shared Object - Streamless</string>
			<key>class</key>
			<string>SharedObjectStreamlessTest</string>
		</dict>
		<key>subscribe</key>
		<dict>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe</string>
			<key>class</key>
			<string>SubscribeTest</string>
		</dict>
		<key>subscribe - 360</key>
		<dict>
			<key>LocalProperties</key>
			<dict>
				<key>fps</key>
				<integer>30</integer>
			</dict>
			<key>name</key>
			<string>[hw] subscribe - 360 Camera</string>
			<key>class</key>
			<string>Subscribe360Test</string>
		</dict>
		<key>subscribe - Aspect Ratio</key>
		<dict>
			<key>description</key>
			<string>Change the fill mode of the stream.  scale to fill, scale to fit, scale fill.  Aspect ratio should be maintained on first 2.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Aspect Ratio</string>
			<key>class</key>
			<string>SubscribeAspectRatioTest</string>
		</dict>
		<key>subscribe - Audio Delay</key>
		<dict>
			<key>description</key>
			<string>Captures the raw audio from the stream and delays it with a custom buffer implementation</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Audio Delay</string>
			<key>class</key>
			<string>SubscribeAudioDelayTest</string>
		</dict>
		<key>subscribe - Auth</key>
		<dict>
			<key>description</key>
			<string>An authenticated subscribe example.</string>
			<key>LocalProperties</key>
			<dict>
				<key>username</key>
				<string>testuser</string>
				<key>password</key>
				<string>testpass</string>
			</dict>
			<key>name</key>
			<string>Subscribe - Authentication</string>
			<key>class</key>
			<string>SubscribeAuthTest</string>
		</dict>
		<key>subscribe - AV Category</key>
		<dict>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>subscribe - AV Category</string>
			<key>class</key>
			<string>SubscribeAVCategoryTest</string>
			<key>description</key>
			<string>An example of overriding default AVCategory settings.</string>
		</dict>
		<key>subscribe - Background</key>
		<dict>
			<key>description</key>
			<string>A subscriber example that continues to run while the app is in the background</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Background Test</string>
			<key>class</key>
			<string>SubscribeBackgroundTest</string>
		</dict>
		<key>subscribe - BandwidthTest</key>
		<dict>
			<key>description</key>
			<string>Detect Insufficient and Sufficient BW flags.  Test on a poor network using a publisher that has high video quality. Video should become sporadic or stop altogether.  The screen will darken when no video is being received.</string>
			<key>LocalProperties</key>
			<dict>
				<key>buffer_time</key>
				<integer>2</integer>
			</dict>
			<key>name</key>
			<string>Subscribe - Bandwidth Test</string>
			<key>class</key>
			<string>SubscriberBandwidthTest</string>
		</dict>
		<key>subscribe - Cluster</key>
		<dict>
			<key>description</key>
			<string>An example of conecting to a cluster server.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Cluster</string>
			<key>class</key>
			<string>SubscribeCluster</string>
		</dict>
		<key>subscribe - Encrypted</key>
		<dict>
			<key>description</key>
			<string>An example that encrypts all traffic between the device and server.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Encrypted</string>
			<key>class</key>
			<string>SubscribeEncryptedTest</string>
		</dict>
		<key>subscribe - Hardware Acceleration</key>
		<dict>
			<key>LocalProperties</key>
			<dict>
				<key>fps</key>
				<integer>30</integer>
			</dict>
			<key>name</key>
			<string>[hw] subscribe - Hardware Acceleration</string>
			<key>class</key>
			<string>SubscribeHardwareAccelerationTest</string>
		</dict>
		<key>subscribe - Image Capture</key>
		<dict>
			<key>description</key>
			<string>Touch the subscribe stream to take a screen shot that is displayed!</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - ImageCapture</string>
			<key>class</key>
			<string>SubscribeStreamImageTest</string>
		</dict>
		<key>subscribe - Interrupt</key>
		<dict>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>subscribe - Interrupt Test</string>
			<key>class</key>
			<string>SubscribeInterruptTest</string>
		</dict>
		<key>subscribe - Metal View</key>
		<dict>
			<key>description</key>
			<string>Uses a metal based view to display a stream</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Metal View</string>
			<key>class</key>
			<string>SubscribeMetalViewTest</string>
		</dict>
		<key>subscribe - Mute Audio</key>
		<dict>
			<key>description</key>
			<string>Allows toggle of mute playback</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Mute Audio</string>
			<key>class</key>
			<string>SubscribeMuteTest</string>
		</dict>
		<key>subscribe - No View</key>
		<dict>
			<key>description</key>
			<string>A proof of using an audio only stream without attaching it to a view.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - No View</string>
			<key>class</key>
			<string>SubscribeNoViewTest</string>
		</dict>
		<key>subscribe - Reconnect</key>
		<dict>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Reconnect</string>
			<key>class</key>
			<string>SubscribeAutoReconnectTest</string>
		</dict>
		<key>subscribe - Remote Call</key>
		<dict>
			<key>description</key>
			<string>The subscribe portion of the remote call example - receives the remote call</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Remote Call</string>
			<key>class</key>
			<string>SubscribeRemoteCallTest</string>
		</dict>
		<key>subscribe - SetFrame</key>
		<dict>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Set Frame Size</string>
			<key>class</key>
			<string>SubscribeSetSizeTest</string>
		</dict>
		<key>subscribe - Set Volume</key>
		<dict>
			<key>description</key>
			<string>Simple example to toggle volume on and off for subscriber</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Set Volume</string>
			<key>class</key>
			<string>SubscribeSetVolumeTest</string>
		</dict>
		<key>subscribe - Stream Manager</key>
		<dict>
			<key>description</key>
			<string>A subscribe example that connects to a cluster server with the Stream Manager.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Stream Manager</string>
			<key>class</key>
			<string>SubscribeStreamManagerTest</string>
		</dict>
		<key>subscribe - Stream Manager Encrypted</key>
		<dict>
			<key>description</key>
			<string>A subscribe example that connects to a cluster server with the Stream Manager - using SRTP Encryption.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Stream Manager Encrypted</string>
			<key>class</key>
			<string>SubscribeSMEncryptedTest</string>
		</dict>
		<key>subscribe - Stream Manager Reconnect</key>
		<dict>
			<key>description</key>
			<string>A subscribe example that connects to a cluster server with the Stream Manager and attempts reconnect on lost/unpublished stream.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Stream Manager Reconnect</string>
			<key>class</key>
			<string>SubscribeStreamManagerReconnectTest</string>
		</dict>
		<key>subscribe - Stream Manager Transcoder</key>
		<dict>
			<key>description</key>
			<string>A subscribe example that demonstrates ABR with the Stream Manager.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Stream Manager Transcoder</string>
			<key>class</key>
			<string>SubscribeStreamManagerTranscoderTest</string>
		</dict>
		<key>subscribe - Switch Streams</key>
		<dict>
			<key>description</key>
			<string>Allows switching streams dynamically</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Switch Streams</string>
			<key>class</key>
			<string>SubscribeStreamSwitchTest</string>
		</dict>
		<key>subscribe - Two Streams</key>
		<dict>
			<key>description</key>
			<string>Allows subscribing to both streams at once</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Two Streams</string>
			<key>class</key>
			<string>SubscribeTwoStreams</string>
		</dict>
		<key>subscribe - Renderer Swap</key>
		<dict>
			<key>description</key>
			<string>Allows swap of renderer for stream playback</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>[hw] subscribe - Renderer Swap</string>
			<key>class</key>
			<string>SubscribeRendererSwapTest</string>
		</dict>
		<key>subscribe - Renderer RGB</key>
		<dict>
			<key>description</key>
			<string>Forces RGB Scalar (SW) decoder for stream playback</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>[hw] subscribe - Renderer RGB</string>
			<key>class</key>
			<string>SubscribeForceRGBScalarTest</string>
		</dict>
		<key>subscribe - Telephony Interrupt</key>
		<dict>
			<key>description</key>
			<string>A subscriber example that responds to publisher telephony interrupt.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Telephony Interrupt</string>
			<key>class</key>
			<string>SubscribeTelephonyInterruptTest</string>
		</dict>
		<key>TwoWay</key>
		<dict>
			<key>description</key>
			<string>Publish and subscribe simultaneously to hold a conversation</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Two Way</string>
			<key>class</key>
			<string>TwoWayTest</string>
		</dict>
		<key>TwoWay - Stream Manager</key>
		<dict>
			<key>description</key>
			<string>Publish and subscribe simultaneously through a stream manager</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Two Way - Stream Manager</string>
			<key>class</key>
			<string>TwoWayStreamManagerTest</string>
		</dict>
		<key>Conference</key>
		<dict>
			<key>description</key>
			<string>Many to many</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Conference</string>
			<key>class</key>
			<string>ConferenceTest</string>
		</dict>
		<key>bandwidth detection</key>
		<dict>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Bandwidth Detection</string>
			<key>class</key>
			<string>BandwidthDetectionTest</string>
			<key>description</key>
			<string>An example of utlizing bandwidth detection</string>
		</dict>
		<key>bandwidth detection - download</key>
		<dict>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Bandwidth Detection (Download)</string>
			<key>class</key>
			<string>BandwidthDetectionDownloadOnlyTest</string>
			<key>description</key>
			<string>An example of utlizing bandwidth detection for download speeds only</string>
		</dict>
		<key>bandwidth detection - upload</key>
		<dict>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Bandwidth Detection (Upload)</string>
			<key>class</key>
			<string>BandwidthDetectionUploadOnlyTest</string>
			<key>description</key>
			<string>An example of utlizing bandwidth detection for upload speeds only</string>
		</dict>
	</dict>
</dict>
</plist>
