<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GlobalProperties</key>
	<dict>
		<key>bitrate</key>
		<integer>750</integer>
		<key>host</key>
		<string>0.0.0.0</string>
		<key>buffer_time</key>
		<integer>1</integer>
		<key>port</key>
		<integer>8554</integer>
		<key>stream1</key>
		<string>stream1</string>
		<key>stream2</key>
		<string>stream2</string>
		<key>context</key>
		<string>live</string>
		<key>camera_width</key>
		<integer>640</integer>
		<key>camera_height</key>
		<integer>360</integer>
		<key>debug_view</key>
		<true/>
		<key>video_on</key>
		<true/>
		<key>audio_on</key>
		<true/>
	</dict>
	<key>Tests</key>
	<dict>
		<key>home</key>
		<dict>
			<key>class</key>
			<string>Home</string>
			<key>name</key>
			<string>Home</string>
		</dict>
		<key>publish</key>
		<dict>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish</string>
			<key>class</key>
			<string>PublishTest</string>
		</dict>
		<key>publish - 1080p</key>
		<dict>
			<key>description</key>
			<string>A high quality publisher</string>
			<key>LocalProperties</key>
			<dict>
				<key>camera_width</key>
				<integer>1920</integer>
				<key>camera_height</key>
				<integer>1080</integer>
				<key>bitrate</key>
				<integer>4500</integer>
			</dict>
			<key>name</key>
			<string>Publish - 1080p</string>
			<key>class</key>
			<string>PublishTest</string>
		</dict>
		<key>publish - ABR</key>
		<dict>
			<key>description</key>
			<string>A high quality publisher with AdaptiveBitrateController</string>
			<key>LocalProperties</key>
			<dict>
				<key>camera_width</key>
				<integer>1920</integer>
				<key>camera_height</key>
				<integer>1080</integer>
				<key>bitrate</key>
				<integer>4800</integer>
			</dict>
			<key>name</key>
			<string>Publish - ABR</string>
			<key>class</key>
			<string>AdaptiveBitrateControllerTest</string>
		</dict>
		<key>publish - Camera Swap</key>
		<dict>
			<key>description</key>
			<string>Touch the screen to swap which camera is being used! Verify using flash that camera is swapping properly and no rendering problems occur.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Camera Swap</string>
			<key>class</key>
			<string>CameraSwapTest</string>
		</dict>
		<key>publish - Custom Video Source</key>
		<dict>
			<key>description</key>
			<string>Touch the screen to swap which camera is being used! Verify using flash that camera is swapping properly and no rendering problems occur.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Custom Video Source</string>
			<key>class</key>
			<string>PublishCustomSourceTest</string>
		</dict>
		<key>publish - Image Capture</key>
		<dict>
			<key>description</key>
			<string>Touch the publish stream to take a screen shot that is displayed!</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - ImageCapture</string>
			<key>class</key>
			<string>PublishStreamImageTest</string>
		</dict>
		<key>publish - Orientation</key>
		<dict>
			<key>description</key>
			<string>Touch the screen to rotate the output video 90 degrees.  Verify with flash, android, or other iOS device running subscribe test.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Orientation Change</string>
			<key>class</key>
			<string>PublishOrientationTest</string>
		</dict>
		<key>publish - Record</key>
		<dict>
			<key>description</key>
			<string>A publish example that records stream data on the server.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Record</string>
			<key>class</key>
			<string>RecordedTest</string>
		</dict>
		<key>publish - Remote Call</key>
		<dict>
			<key>description</key>
			<string>The publish portion of the remote call example - sends the remote call</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Remote Call</string>
			<key>class</key>
			<string>PublishRemoteCallTest</string>
		</dict>
		<key>publish - Stream Manager</key>
		<dict>
			<key>description</key>
			<string>A publish example that connects to a cluster server with the Stream Manager.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Publish - Stream Manager</string>
			<key>class</key>
			<string>PublishStreamManagerTest</string>
		</dict>
		<key>subscribe</key>
		<dict>
			<key>LocalProperties</key>
			<dict>
				<key>buffer_time</key>
				<integer>0</integer>
			</dict>
			<key>name</key>
			<string>Subscribe</string>
			<key>class</key>
			<string>SubscribeTest</string>
		</dict>
		<key>subscribe - Aspect Ratio</key>
		<dict>
			<key>description</key>
			<string>Change the fill mode of the stream.  scale to fill, scale to fit, scale fill.  Aspect ratio should be maintained on first 2.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Aspect Ratio</string>
			<key>class</key>
			<string>SubscribeAspectRatioTest</string>
		</dict>
		<key>subscribe - Cluster</key>
		<dict>
			<key>description</key>
			<string>An example of conecting to a cluster server.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Cluster</string>
			<key>class</key>
			<string>SubscribeCluster</string>
		</dict>
		<key>subscribe - Image Capture</key>
		<dict>
			<key>description</key>
			<string>Touch the subscribe stream to take a screen shot that is displayed!</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - ImageCapture</string>
			<key>class</key>
			<string>SubscribeStreamImageTest</string>
		</dict>
		<key>subscribe - No View</key>
		<dict>
			<key>description</key>
			<string>A proof of using an audio only stream without attaching it to a view.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - No View</string>
			<key>class</key>
			<string>SubscribeNoViewTest</string>
		</dict>
		<key>subscribe - Reconnect</key>
		<dict>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Reconnect</string>
			<key>class</key>
			<string>SubscribeAutoReconnectTest</string>
		</dict>
		<key>subscribe - Remote Call</key>
		<dict>
			<key>description</key>
			<string>The subscribe portion of the remote call example - receives the remote call</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Remote Call</string>
			<key>class</key>
			<string>SubscribeRemoteCallTest</string>
		</dict>
		<key>subscribe - Stream Manager</key>
		<dict>
			<key>description</key>
			<string>A subscribe example that connects to a cluster server with the Stream Manager.</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Stream Manager</string>
			<key>class</key>
			<string>SubscribeStreamManagerTest</string>
		</dict>
		<key>subscribe - Two Streams</key>
		<dict>
			<key>description</key>
			<string>Allows subscribing to both streams at once</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Subscribe - Two Streams</string>
			<key>class</key>
			<string>SubscribeTwoStreams</string>
		</dict>
		<key>TwoWay</key>
		<dict>
			<key>description</key>
			<string>Publish and subscribe simultaneously to hold a conversation</string>
			<key>LocalProperties</key>
			<dict/>
			<key>name</key>
			<string>Two Way</string>
			<key>class</key>
			<string>TwoWayTest</string>
		</dict>
	</dict>
</dict>
</plist>
